body {
  background-color: rgb(228, 238, 247);
}

.main_container {
  max-width: 860px;
  min-height: 100vh;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 500;
  letter-spacing: 4px;
}

.container_one {
}

.one_flex_1 {
}

.two_flex_1 {
}

.inFlex_1 {
}

.inFlex_2 {
}

.container_two {
}

.one_flex_2 {
}

.two_flex_2 {
}
